@media (max-width: 1600px) {
	.success-body {
		font-size: 90%;
	}
}

@media (max-width: 1500px) {
	.form td:first-child {
		font-size: 1em;
	}

	.form input {
		padding: 4.2% 3%;
		font-size: .4em;
	}

	.form .btn_primary {
		font-size: .8em;
	}

	.success-body {
		font-size: 87%;
	}

	.success-content {
		padding: 2% 10px 0 10px;
	}
}

@media (max-width: 1366px) {
	.success-body {
		font-size: 65%;
	}
	.wrapper-form-s {
		width: 550px;
	}

	.time span {
		padding: 20px;
	}

	.time .colon {
		line-height: 90px;
	}

	.wrapper-form-s {
		margin: 2% auto;
	}
}

@media (max-width: 1280px) {
	.success-body {
		font-size: 62%;
	}
	.wrapper-form-s {
		width: 500px;
	}
}

@media (max-width: 1230px) {
	.succ-money-bloks {
		font-size: 90%;
		justify-content: space-around;
	}

	.succ-money-bloks>div {
		max-width: 320px;
	}
}

@media (max-width: 1040px) {
	.warning {
		font-size: 90%;
	}

	.wrapper-warning-icon {
		display: flex;
		justify-content: space-around;
	}

	.wrapper-warning-icon figure {
		margin-left: 0;
	}

	.wrapper-warning-icon img {
		width: 85%;
	}

	.succ-money-bloks {
		display: block;
	}

	.succ-money-bloks>div {
		margin: 10px auto;
	}

	.succ-money-bloks-txt {
		max-height: 8.4em;
	}

}

@media (max-width: 1000px) {
	.website-left {
		padding-left: 6.55%;
	}

	.wrapper-website-d {
		width: 85%;
	}

	.wrapper-size {
		padding: 35px 3% 30px 3%;
	}
}

@media (max-width: 900px) {
	.header {
		padding: 11px 10px 8px 10px;
	}

	.header-phone {
		margin-left: 8em;
	}

	.nav {
		margin-right: .5em;
	}

	.warning {
		font-size: 75%;
	}

	.size-fines h3 {
		font-size: 1.5em;
	}
}

@media (max-width: 768px) {
	.header-left,
	.header-right {
		overflow: hidden;
	}
	.header-right,
	.header-left {
		float: none;
		margin-bottom: 10px;
		text-align: center;
	}

	.header-right {
		padding-bottom: 12px;
	}

	.nav {
		float: left;
	}

	.nav li:first-child {
		margin-left: 0;
	}

	.wrapper-btn {
		float: right;
	}

	.header-phone {
		margin-left: 2%;
		padding-left: 0;
		background: none;
		float: right;
	}

	.header-phone:before {
		content: " ";
		background: url(../images/phone-icon.png) no-repeat;
		height: 14px;
		width: 13px;
		display: inline-block;
		margin-right: 7px;
	}
	body {
		padding-top: 115px;
	}

	.warning {
		font-size: 55%;
		padding-top: 30px;
	}

	.website,
	.what-fines {
		font-size: 80%;
	}

	.website>div {
		width: 100%;
	}

	.website-left,
	.website-right {
		padding-left: 0;
		float: none;
	}

	.wrapper-website-d {
		width: 90%;
		margin: 20px auto;
	}

	.what-fines {
		padding-top: 20px;
		overflow: hidden;
	}

	.what-fines h2 {
		line-height: 50px;
	}

	.what-fines p {
		line-height: 40px;
	}

	.wrapper-size-item {
		padding-right: 35px;
	}

	.footer {
		flex-direction: column;
		text-align: center;
		padding: 30px 10px 18px 10px;
	}

	.footer-right {
		text-align: center;
		margin-top: 20px;
	}

	.website {
		padding: 20px 10px;
	}

	.wrapper-website-d {
		padding: 3.4% 5.8% 0.4% 7.2%;
	}

	.success-2-content-txt div {
		width: 100%;
	}

	.success-2-content-txt div:first-child,
	.success-2-content-txt div:last-child {
		padding: 10px;
	}

	.succ-money-bloks {
		display: block;
		padding: 0 20px;
	}

	.succ-money-bloks>div {
		margin: 20px auto;
		padding-bottom: 1px;
	}

	.succ-money-bloks-txt {
		max-height: 8em;
	}

	.work-block-list li:nth-child(odd) .work-block-list-i {
		padding-right: 40px;
	}

	.work-block-list li:nth-child(even) .work-block-list-i {
		padding-left: 40px;
	}

	.work-block-list h5 {
		margin-bottom: 20px;
	}

	.popup-p {
		font-size: 1.7em;
	}

	.work-block-list {
		font-size: 75%;
	}
}

@media (max-width: 575px) {
	.warning {
		font-size: 35%;
		padding-top: 10px;
	}

	.warning h2 {
		line-height: 40px;
	}

	.website,
	.what-fines {
		font-size: 60%;
	}

	.size-fines h3 {
		font-size: 1em;
	}

	.popup {
		padding: 0 10px;
	}

	.wrapper-popap {
		font-size: 60%;
	}

	.btn-wrapper .btn_primary {
		padding: 1em 0.3em;
	}

	.success-body {
		font-size: 55%;
	}

	.wrapper-form-s {
		width: 100%;
	}

	.time span {
		padding: 15px;
	}

	.time .colon {
		line-height: 60px;
	}
}

@media (max-width: 480px) {
	.form td:first-child {
		display: none;
	}

	.what-fines {
		font-size: 40%;
	}

	.header {
		font-size: 75%;
	}

	.succ-money-bloks-txt {
		max-height: 8.3em;
	}

	.success-2 {
		font-size: 70%;
	}

	.work-block-list li:first-child,
	.work-block-list li:nth-child(2),
	.work-block-list li:nth-child(3),
	.work-block-list li:nth-child(4),
	.work-block-list li:nth-child(5) {
		background-size: 9%;
	}

	.work-block-list li {
		height: 100px;
	}

	.success-2 .popup-footer-right {
		width: 50%;
	}
}

@media (max-width: 340px) {
	.work-block-list {
		font-size: 65%;
	}

}