@font-face {
	font-family: MyriadPro-BoldSemiExt;
	src: url(../fonts/MyriadPro-BoldSemiExt.otf);
}

@font-face {
	font-family: MyriadPro-SemiExt;
	src: url(../fonts/MyriadPro-SemiExt.otf);
}

@font-face {
	font-family: MyriadPro-Semibold;
	src: url(../fonts/MyriadPro-Semibold.otf);
}