@font-face {
	font-family: MyriadPro-BoldCond;
	src: url(../fonts/MyriadProCondBold.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: Myriad-Pro-Semibold-Condensed;
	src: url(../fonts/Myriad-Pro-Semibold-Condensed.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: MyriadPro-Cond;
	src: url(../fonts/MyriadPro-Cond.otf);
	font-style: normal;
	font-weight: normal;
}