/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset css */

/* fonts */
@font-face {
	font-family: UbuntuMono-Bold;
	src: url(../fonts/UbuntuMono-Bold.ttf);
}

@font-face {
	font-family: UbuntuCondensed-Regular;
	src: url(../fonts/UbuntuCondensed-Regular.ttf);
}

@font-face {
	font-family: UbuntuMono-Regular;
	src: url(../fonts/UbuntuMono-Regular.ttf);
}

@font-face {
	font-family: Ubuntu-Regular;
	src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
	font-family: Ubuntu-Bold;
	src: url(../fonts/Ubuntu-Bold.ttf);
}
/* end fonts */

/* common */
.blue-txt {
	color: #018abc;
}

h3 {
	font-family: UbuntuCondensed-Regular;
	font-size: 42px;
	color: #000105;
	text-align: center;
}
/* end common */

/* nav */
.navbar {
	padding-top: 12px;
	background: linear-gradient(to top, rgba(255, 255, 255, 0.1), #fff);
	border: none;
}

@media (min-width: 768px) {
	.navbar .container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.navbar .container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.navbar .container {
		width: 1230px;
	}
}

.nav {
	width: 100%;
	display: table;
}

.nav li {
	display: table-cell;
	float: none;
	vertical-align: top;
	padding-top: 13px;
	text-align: center;
}

.nav-li {
	width: 15.268%;
}

.nav .logo {
	padding-top: 0;
}

.nav a {
	font-family: UbuntuMono-Bold;
	font-size: 20px;
	color: #000105;
	cursor: pointer;
	text-align: center;
}

.navbar .nav a:hover,
.navbar .nav a:focus {
	color: #018abc;
	background: url(../images/nav-li-bg.png) no-repeat center 70%;
}

.navbar .logo a:hover,
.navbar .logo a:focus {
	background: none;
}


.navbar-toggle {
	background: #000105;
	margin-top: 40px;
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.navbar-brand {
	display: none;
}
/* end nav */

/* slider */
.slider {
	height: 1000px;
	width: 100%;
	padding-top: 189px;
	background: url(../images/spray-bt.png) no-repeat bottom center,
				url(../images/slider-bg.png) no-repeat top center;
}

@media (min-width: 768px) {
	.slider .container {
		width: 750px;
	}
	}
@media (min-width: 992px) {
	.slider .container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.slider .container {
		width: 1250px;
	}
}

.carousel {
	max-width: 603px;
	padding-top: 39px;
	padding-bottom: 145px;
	padding-left: 15px;
	background: url(../images/slider-item-bg.png) no-repeat;
}

.carousel-inner {
	max-width: 100%;
	text-align: center;
}

.carousel-inner h2,
.slider-size {
	font-family: UbuntuMono-Bold;
	font-size: 60px;
	color: #fff;
	line-height: 70px;
}

.slider-size {
	color: #fdfa2a;
}

.carousel-control {
	opacity: 1;
}

.carousel-control:hover {
	color: #fdfa2a;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.carousel-indicators li {
	width: 12px;
	height: 12px;
	border: none;
	background: #80c5de;
	vertical-align: top;
}

.carousel-indicators .active {
	width: 15px;
	height: 15px;
	border: none;
	background: #fdfa2a;
}

.carousel-indicators {
	top: 84.3%;
	left: 49%;
}

.carousel-control .glyphicon {
	font-family: monospace;
	font-size: 70px;
	opacity: 1;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .glyphicon-chevron-left {
	top: 37.5%;
	height: 40px;
}

.carousel-control .glyphicon-chevron-right {
	margin-right: -27px;
	background: url(../images/arrow-right.png) no-repeat;
}

.carousel-control .glyphicon-chevron-right:hover {
	background: url(../images/arrow-hover-right.png) no-repeat;
}

.carousel-control .glyphicon-chevron-left {
	margin-left: -37px;
	background: url(../images/arrow-left.png) no-repeat;
}

.carousel-control .glyphicon-chevron-left:hover {
	background: url(../images/arrow-hover-left.png) no-repeat;
}

.btn-wrapper {
	position: relative;
	margin-left: 10.2%;
	max-width: 367px;
}

.yellow-btn {
	width: 235px;
	height: 75px;
	font-size: 19px;
	font-family: UbuntuMono-Bold;
	color: #000105;
	margin-left: 16.8%;
	line-height: 72px;
	text-align: center;
	background: url(../images/button.png) no-repeat;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.yellow-btn:active {
	background: url(../images/button-active.png) no-repeat;
}

.yellow-btn-bg {
	content: ' ';
	width: 367px;
	height: 142px;
	display: block;
	position: absolute;
	top: -29px;
	left: 27px;
	z-index: 1;
	background: url(../images/button-bg.png) no-repeat;
}
/* end slider */

/* drive-3 */
.drive-3 {
	padding-top: 19px;
	padding-bottom: 20px;
}

.drive-3 .container {
	padding-right: 2px;
	padding-left: 2px;
}

.drive-3 h3 {
	line-height: 48px;
	background: url(../images/drive-3-h3.png) no-repeat center 80%;
}

.drive-items {
	text-align: center;
	display: table;
	width: 100%;
	margin-top: 49px;
}

.drive-items figure {
	display: table-cell;
	color: 333333;
	cursor: pointer;
}

.drive-items figcaption {
	font-size: 24px;
	font-family: UbuntuMono-Bold;
	margin-top: 38px;
}

.drive-items figure:hover {
	color: #018abc;
}
/* end drive-3 */

/* watercraft */
.watercraft {
	padding-top: 75px;
	position: relative;
	background: url(../images/watercraft-bg.png) no-repeat center 41%;
}
.watercraft h3 {
	margin-bottom: 150px;
	background: url(../images/drive-3-h3.png) no-repeat center;
}

.watercraft-slider {
	text-align: center;
}

.w-name {
	font-family: UbuntuMono-Regular;
	font-size: 18px;
	color: #333;
}

.w-model {
	font-family: UbuntuMono-Bold;
	font-size: 24px;
	color: #018abc;
}

.w-volume {
	font-family: Ubuntu-Regular;
	font-size: 18px;
	color: #333;
}

.w-size {
	font-family: Ubuntu-Bold;
	font-size: 24px;
	color: #fdfa2a;
	padding-top: 8px;
}

.w-size span {
	padding: 8px 20px;
	background: #00bfdc;
}

.watercraft-slider figcaption{
	padding-top: 29px;
}

.watercraft-slider p {
	padding-bottom: 15px;
}

.watercraft-slider img {
	margin: 0 auto;
	width: 250px;
	height: 150px;
	background: #fff;
	border: 10px solid #ebf6fd;
	z-index: 2222;
}

.watercraft-slider figure:hover img {
	width: 280px;
	height: 180px;
	border: 10px solid #00bfdc;
	z-index: 5555;
}

.watercraft-slider figure:hover .w-size span {
	background: #ebf6fd;
}

.watercraft-slider div {
	z-index: 222;
	position: relative;
}

.watercraft-slider div:hover {
	z-index: 5555;
}

.watercraft-slider {
	width: 1564px;
	margin: 0 auto;
	height: 370px;
}

.slick-arrow {
	opacity: 0;
}

.watercraft-slider figure {
	cursor: pointer;
}

.watercraft-slider:before {
	content: " ";
	display: block;
	height: 100%;
	width: 315px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.watercraft-slider:after {
	content: " ";
	display: block;
	height: 100%;
	width: 315px;
	position: absolute;
	top: 0;
	right: 0px;
	z-index: 9;
	background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.w-btn-wrapper {
	position: relative;
	width: 376px;
	margin: 70px auto;
}

.w-btn-wrapper .yellow-btn {
	background: url(../images/w-btn.png) no-repeat;
	margin: 0 auto;
}

.w-btn-wrapper .yellow-btn:active {
	background: url(../images/w-btn-hover.png) no-repeat;
}

.w-btn-wrapper .yellow-btn-bg {
	background: url(../images/btn-color-bg.png) no-repeat;
	left: 63px;
}
/* end watercraft */

/* rental-conditions */
.rental-conditions {
	padding-top: 65px;
	background: url(../images/rental-bg-left.png) no-repeat left 30%,
				url(../images/rental-bg-right.png) no-repeat right 40%;
}

.rental-conditions h3 {
	margin-bottom: 63px;
	background: url(../images/drive-3-h3.png) no-repeat center;
}

.rental {
	font-size: 36px;
	font-family: UbuntuCondensed-Regular;
	color: #000105;
	height: 533px;
	background: url(../images/rental-bg.png) no-repeat center;
}

.rental ol {
	width: 86%;
	float: right;
	padding-left: 40px;
}

.rental li {
	margin-bottom: 26px;
}

.rental-conditions-left ol {
	background: url(../images/r-num.png) no-repeat left 4px;
}

.rental-conditions-right ol {
	background: url(../images/r-num-right.png) no-repeat left 4px;
}
/* end rental-conditions */

/* sea */
.sea {
	padding-top: 65px;
	padding-bottom: 30px;
	overflow: hidden;
	position: relative;
	background: url(../images/sea-bg-a.png) no-repeat bottom center;
}

.sea:before {
	content: " ";
	display: block;
	height: 100%;
	width: 290px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sea:after {
	content: " ";
	display: block;
	height: 100%;
	width: 290px;
	position: absolute;
	top: 0;
	right: 0px;
	z-index: 9;
	background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.sea h3 {
	margin-bottom: 75px;
	background: url(../images/drive-3-h3.png) no-repeat center;
}

.sea-slider {
	max-width: 100%;
	margin: 0 auto;
}

.sea-slider div {
	position: relative;
	z-index: 2222;
}

.sea-slider div:hover {
	z-index: 5555;
}

.sea-slider img {
	width: 258px;
	height: 208px;
	margin: 0 auto;
	cursor: pointer;
}

.sea-slider .slick-arrow {
	opacity: 1;
}

.sea .sea-slider img:hover {
	width: 270px;
	height: 220px;
}

.sea .wrapper-s {
	height: 250px;
	z-index: 5;
	position: relative;
}

.slick-prev:before,
.slick-next:before {
	color: red !important;
	width: 45px;
	height: 48px;
	display: none;
}

.slick-prev:before {
	content: " ";
	background: url(../images/sea-s/sea-left.png) no-repeat;
}

.slick-next:before {
	content: " ";
	background: url(../images/sea-s/sea-right.png) no-repeat;
}

.slick-dots {
	top: -50px;
	z-index: -1;
}

.slick-dots li button:before {
	font-size: 30px;
	color: #2a77ad;
}

.slick-dots li.slick-active button:before {
	font-size: 40px;
	color: #fedb3f;
}

.not-skated {
	max-width: 1220px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	position: relative;
	z-index: 555;
}

.not-skated h3 {
	font-size: 70px;
	text-align: left;
	color: #018abc;
	font-family: UbuntuMono-Bold;
	margin-bottom: 35px;
	background: url(../images/sea-s-h3.png) no-repeat left 100%;
}

.s-description {
	float: left;
	max-width: 315px;
	padding-top: 55px;
}

.skated-slider {
	float: right;
	width: 70%;
}

.skated-slider .carousel {
	background: none;
}

.s-size,
.s-data {
	font-size: 24px;
	font-family: UbuntuCondensed-Regular;
	margin-bottom: 25px;
}

.naw {
	color: #018abc;
	font-family: UbuntuMono-Bold;
	font-size: 24px;
	margin-bottom: 75px;
}

.sea .carousel-inner {
	max-width: none;
	border: 20px solid #caf1f7;
	background: linear-gradient(#caf1f7, #b5eaf2);
	box-shadow: 10px 10px 0px #9edae3;
	transform: rotateY(-1deg);
}

.ytp-large-play-button {
	background: #00bfdc;
}

.sea .carousel {
	max-width: none;
	-webkit-perspective: 150px;
	perspective: 150px;
}

.video-slider iframe {
	width: 100%;
	height: 520px;
}
/* end sea */

/* certificate */
.certificate {
	padding-bottom: 40px;
}

.certificate-d {
	text-align: center;
	font-size: 24px;
	font-family: UbuntuCondensed-Regular;
	color: #333;
	margin-top: 30px;
	margin-bottom: 55px;
}

.certificate-f {
	width: 1104px;
	margin: 0 auto;
	background: url(../images/certificate-bg.png) no-repeat;
	background-size: 100% 506px;
	overflow: hidden;
	height: 506px;
}

.certificate-f-left {
	float: left;
	width: 50%;
	text-align: center;
}

.certificate-f-left img {
	margin-top: 10%;
}

.certificate-f-right {
	float: right;
	width: 50%;
	padding-top: 30px;
}

.certificate-f-right h4 {
	font-family: UbuntuMono-Bold;
	font-size: 42px;
	color: #018abc;
	margin-bottom: 30px;
}

.certificate-f-right select {
	font-size: 16px;
	color: #808080;
	font-family: UbuntuCondensed-Regular;
	padding: 20px;
	width: 80%;
	border-radius: 10px;
	border: 1px solid #d2d2d2;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
	background: #fff url(../images/select-btn.png) no-repeat right;
	cursor: pointer;
}

.certificate-size {
	font-size: 60px;
	color: #018abc;
	font-family: Ubuntu-Bold;
	margin-top: 15px;
}

.certificate-f-right h5 {
	color: #333333;
	font-size: 24px;
	font-family: UbuntuMono-Bold;
	margin-top: 20px;
	margin-bottom: 15px;
}

.instr {
	color: #4d4d4d;
	font-size: 16px;
	font-family: Ubuntu-Regular;
	line-height: 20px;
}

.inst-2 {
	margin-top: 10px;
	z-index: 2;
	position: relative;
}

.red {
	color: red;
}

.certificate-f-right .w-btn-wrapper {
	width: 240px;
	margin: 25px 0 0 0;
}

.certificate-f-right .yellow-btn-bg {
	left: -48px;
	top: -34px;
}
/* end certificate */

/* gallery */

.gallery {
	padding-top: 60px;
}

.grid-item {
	width: 19.99%;
}

.grid-item img {
	width: 100%;
	height: auto;
	float: left;
}

.gallery {
	text-align: center;
}

.gallery p {
	display: none;
	position: absolute;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	font-size: 20px;
	background: rgba(0, 0, 255, 0.6);
	padding-top: 10px;
}

.gallery .grid-item:hover p{
	display: block;
}
/* end gallery */

/* reviews */

.reviews h3 {
	background: url(../images/sea-s-h3.png) no-repeat center 100%;
}

.reviews img {
	width: 155px;
	height: 155px;
	border-radius: 50%;
	margin: 0 auto;
}

#reviews {
	background: none;
}

.reviews-slider figcaption{
	text-align: center;
}

.r-name {
	color: #018abc;
	font-size: 20px;
	font-family: UbuntuMono-Bold;
	margin: 35px 0 25px 0;
}

.r-description {
	color: #231f20;
	font-size: 18px;
	font-family: UbuntuCondensed-Regular;
	width: 82%;
	line-height: 25px;
	margin: 0 auto;
}

.reviews-slider hr {
	width: 90px;
	margin: 18px auto 20px auto;
	border: none;
	height: 2px;
	background: #e6e6e6;
}

.r-data {
	color: #018abc;
	font-size: 14px;
	font-family: Ubuntu-Bold;
}

.reviews .btn-wrapper {
	width: 240px;
	margin: 100px auto 50px auto;
}

.reviews .yellow-btn-bg {
	background: url(../images/reviews-btn.png) no-repeat;
	left: -33px;
	top: -34px;
}

#reviews .wrapper-s {
	height: auto;
}

/* end reviews */

/* gift */
.gift {
	background: url(../images/gift-bg.png) no-repeat top center;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 150px;
	overflow: hidden;
}

.gift h5 {
	color: #fff;
	font-size: 42px;
	font-family: UbuntuCondensed-Regular;
	margin-bottom: 50px;
	background: url(../images/h4-bg-b.png) no-repeat center 100%;
}

.gift h4 {
	color: #fff;
	font-size: 70px;
	font-family: Ubuntu-Bold;
	margin-bottom: 50px;
}

.gift input {
	font-size: 16px;
	font-family: Ubuntu-Regular;
	color: #808080;
	padding: 20px 25px;
	border: 1px solid #d8d8d8;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
	outline: none;
}

.gift .container {
	padding: 0;
}

.gift .gift-submit {
	background: none;
	border: none;
	color: #000105;
	font-size: 18px;
	font-family: UbuntuMono-Bold;
	height: 70px;
	position: relative;
	z-index: 5;
	padding-right: 0;
	text-align: right;
	padding-top: 14px;
}

.wrapper-sub {
	position: relative;
}

.wrapper-sub:after {
	content: ' ';
	width: 365px;
	height: 131px;
	position: absolute;
	left: -5%;
	top: -48%;
	z-index: 1;
	background: url(../images/submit-btn.png) no-repeat;
}
/* end gift */

/* footer */
.footer {
	padding: 75px 0 20px 0;
	position: relative;
}

.map {
	width: 100%;
	height: 506px;
	background: #a3ccff url(../images/map.png) no-repeat;
}

.to-top {
	width: 51px;
	height: 55px;
	display: block;
	position: absolute;
	top: 0px;
	right: 20px;
	background: url(../images/btn-top.png) no-repeat;
}

.copyright {
	text-align: center;
	font-family: Ubuntu-Regular;
	font-size: 14px;
	color: #333333;
	margin-top: 45px;
}

.map-w {
	font-size: 20px;
	color: #231f20;
	font-family: UbuntuCondensed-Regular;
	padding-top: 60px;
	position: relative;
}

.map-w:before {
	content: " ";
	display: block;
	width: 422px;
	height: 601px;
	position: absolute;
	top: -52px;
	left: -4px;
	background: url(../images/footer-bg.png) no-repeat;
}

.map-w p {
	padding-left: 100px;
	position: relative;
	margin-bottom: 30px;
	line-height: 26px;
}

.footer-a {
	font-size: 20px;
	color: #231f20;
	font-family: UbuntuCondensed-Regular;
}

.footer-a:before {
	content: ' ';
	display: block;
	width: 29px;
	height: 42px;
	position: absolute;
	left: 12%;
	background: url(../images/footer-a.png) no-repeat;
}

.clock:before {
	content: ' ';
	display: block;
	width: 29px;
	height: 42px;
	position: absolute;
	left: 12%;
	background: url(../images/clock.png) no-repeat;
}

.phone:before {
	content: ' ';
	display: block;
	width: 29px;
	height: 42px;
	position: absolute;
	left: 12%;
	background: url(../images/phone.png) no-repeat;
}

.map-w ul {
	list-style: disc;
	padding-left: 122px;
	padding-bottom: 30px;
	z-index: 2;
	position: relative;
}

.map-w li {
	font-size: 20px;
	font-family: Ubuntu-Bold;
	color: #018abc;
}

.f-map img{
	width: 100%;
}
/* end footer */

/* popap */
.popup {
	width:100%;
	min-height:100%;
	background-color: rgba(255, 255, 255,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	display: none;
	z-index: 9999;
}

.wrapper-popap {
	position: absolute;
	background: #fff url(../images/form-top.png) no-repeat top center;
	z-index: 9999;
	top: 10%;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 492px;
	border-radius: 10px;
	padding: 100px 50px 50px 50px;
}

.wrapper-popap h3 {
	background: url(../images/sea-s-h3.png) no-repeat center 100%;
	margin-bottom: 35px;
}

.wrapper-popap p {
	margin-bottom: 20px;
}

.wrapper-popap input {
	width: 100%;
	color: #808080;
	font-size: 16px;
	font-family: Ubuntu-Regular;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #d9d9d9;
	outline: none;
}

.wrapper-popap .submit-popap {
	color: #000105;
	font-family: UbuntuMono-Bold;
	font-size: 18px;
	background: none;
	border: none;
}

.wrapper-submit {
	position: relative;
	margin-top: 40px;
}

.wrapper-submit:after {
	content: " ";
	position: absolute;
	display: block;
	width: 100%;
	height: 134px;
	top: -32px;
	left: 30px;
	z-index: -1;
	background: url(../images/popap-s-btn.png) no-repeat center;
}

.wrapper-submit:active:after {
	background: url(../images/popap-hover-btn.png) no-repeat center;
}

.clouse-popup {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 21px;
	height: 22px;
	background: url(../images/form-cross.png) no-repeat;
	cursor: pointer;
}

.succsec-popap {
	overflow:hidden;
	position:fixed;
	top:25%;
	display: none;
	z-index: 9999;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
	border-radius: 10px;
	width: 80%;
	padding: 50px 10px;
}

.succsec-popap .clouse-popup {
	color: #000;
	font-size: 24px;
	font-family: UbuntuMono-Bold;
}

.g-recaptcha>div {
	margin: 0 auto;
}
/* end popap */

/* media */
@media (max-width: 1686px) {
	.watercraft-slider {
		width: 1200px;
	}

	.wrapper-s {
		background: none;
	}
}

@media (max-width: 1282px) {
	.watercraft-slider {
		width: 1000px;
	}

	.sea:before {
		display: none;
	}

	.sea:after {
		display: none;
	}
}

@media (max-width: 1260px) {
	.rental-conditions {
		background: none;
	}
}

@media (max-width: 1202px) {
	.rental ol {
		width: 70%;
	}

	.skated-slider {
		width: 60%;
	}

	.s-description {
		width: 300px;
	}

	.not-skated h3 {
		font-size: 65px;
	}

	.not-skated p {
		font-size: 18px;
	}

	.certificate-f {
		width: 98%;
	}

	.gift .gift-submit {
		text-align: center;
	}

	.wrapper-sub:after {
		left: 10%;
		right: 0;
		margin: auto;
	}

	.gift h4 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.gift h5 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	.wrapper-sub {
		margin-top: 30px;
	}

	.map-w p {
		padding-left: 60px;
	}

	.phone:before {
		left: 3%;
	}

	.clock:before {
		left: 3%;
	}

	.footer-a:before {
		left: 3%;
	}

	.map-w ul {
		padding-left: 82px;
	}
}

@media (max-width: 1005px) {
	.watercraft-slider {
		width: 100%;
	}

	.watercraft-slider:before {
		display: none;
	}

	.watercraft-slider:after {
		display: none;
	}

	.s-description {
		width: 290px;
	}
}

@media (max-width: 992px) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 365px;
	}

	.nav {
		display: block;
	}

	.nav li {
		display: block;
	}

	.nav-li {
		width: 100%;
		padding-top: 0;
	}

	.nav .logo {
		display: none;
	}

	.navbar-brand {
		display: block;
	}

	.navbar-nav>li>a {
		padding: 0;
	}

	.drive-items {
		display: block;
	}

	.drive-items figure {
		display: block;
	}

	.certificate-f-left {
		display: none;
	}

	.certificate-f-right {
		float: none;
		width: 98%;
		padding-left: 5%;
		padding-top: 10px;
	}
}

@media (max-width: 768px) {
	.navbar {
		background: linear-gradient(to top, rgba(255, 255, 255, 0.5), #fff);
	}

	.wrapper-popap {
		width: 90%;
		padding-right: 5px;
		padding-left: 5px;
	}

	.wrapper-popap h3 {
		font-size: 25px;
		margin-bottom: 25px;
	}

	.g-recaptcha {

	}

	.carousel {
		max-width: 100%;
		background-size: 100% 100%;
	}

	.carousel-inner h2,
	.slider-size {
		font-family: UbuntuMono-Bold;
		font-size: 50px;
		color: #fff;
		line-height: 50px;
	}

	.yellow-btn {
		margin: 0 auto;
	}

	.s-description {
		max-width: 100%;
		width: 100%;
		text-align: center;
		padding: 10px;
		float: none;
	}

	.not-skated h3 {
		text-align: center;
		background: url(../images/sea-s-h3.png) no-repeat center 100%;
	}

	.skated-slider {
		max-width: 100%;
		width: 100%;
		padding: 10px;
		float: none;
	}

	.video-slider iframe {
		height: auto;
	}

	.map-w:before {
		display: none !important;
	}
}

@media (max-width: 600px) {
	.carousel-inner h2,
	.slider-size {
		font-family: UbuntuMono-Bold;
		font-size: 40px;
		color: #fff;
		line-height: 40px;
	}

	.rental ol {
		width: 100%;
	}

	.map-w:before {
		display: none !important;
	}

	.f-map {
		display: block;
	}
}

@media (max-width: 500px) {
	.yellow-btn-bg {
		width: 250px;
	}

	.certificate-size {
		font-size: 40px;
		margin-top: 20px;
	}

	.certificate-f-right h5 {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	.certificate-f-right h4 {
		margin-bottom: 20px;
	}
}
/* end media */